spacy>=3.7,<3.8; python_version < "3.10"
spacy>=3.8,<3.9; python_version >= "3.10"
https://github.com/explosion/spacy-models/releases/download/en_core_web_trf-3.7.3/en_core_web_trf-3.7.3-py3-none-any.whl ; python_version < "3.10"
torch
transformers
tensorflow
textblob
vaderSentiment
newspaper3k
scikit-learn
matplotlib
wordcloud
nltk
ftfy
