beautifulsoup4
requests
textblob
vaderSentiment
newspaper3k
scikit-learn
matplotlib
wordcloud
nltk
lxml
flask
flask-cors
selenium
transformers
pymongo
gunicorn
python-dotenv
celery
redis
fake-useragent
torch
time
datetime
unicodedata
re
traceback